@font-face {
    font-family: "handwritten";
    src: url('AlexBrush-Regular.ttf');
}
.screen-middle{
    margin-top: 60px;
}
#statistics-div {
    width	: 100%;
    height	: 500px;
}
.slogan {
    font-family: "handwritten";
    font-size: 25pt;
    color: #000000;
    position: fixed;
    right: 50px;
    bottom: 50px;
    transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    letter-spacing: 1px;
    line-height: 19pt;
}
.angucomplete-holder {
    position: relative;
}
.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 100%;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: -6px;
    background-color: #ffffff;
}
.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}
.angucomplete-description {
    font-size: 14px;
}
.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}
.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}