<div class="container" id="fournisseurs">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{translation.ADD_FOURNISSEUR}} {{fournisseur.nom}}
        </div>
        <div class="panel-body">
            <form class="form-inline" name="ajoutFournisseur">
                <div class="control-group col-md-6">
                    <label class="control-label" for="nomFrounisseur">Fournisseur</label>
                    <div class="controls">
                        <input type="text" id="nomFrounisseur" name="nomFrounisseur" placeholder="Nom du fournisseur" class="form-control" ng-model="fournisseur.nom" required>
                    </div>
                    <div class="alert alert-danger" ng-show="!ajoutFournisseur.nomFrounisseur.$valid && ajoutFournisseur.nomFrounisseur.$dirty">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Erreur</strong> Le nom du fournisseur est obligatoire.
                    </div>
                </div>
                <div class="control-group col-md-6">
                    <label class="control-label">Addresse</label>
                    <div class="controls">
                        <angucomplete-alt placeholder="Search address" selected-object="selectedAddress" local-data="addresses" remote-url="https://maps.googleapis.com/maps/api/geocode/json?address=" remote-url-data-field="results" title-field="formatted_address" minlength="4" input-class="form-control form-control-small" match-class="highlight" />
                        <input type="hidden" placeholder="Adresse du fournisseur" class="form-control" ng-value="fournisseur.adresse = selectedAddress.title">
                    </div>
                </div>
                <div class="control-group pull-right">
                    <div class="controls">
                        <a class="btn btn-success" ng-click="ajouterFournisseur()"><span class="glyphicon glyphicon-plus"></span> Valider</a>
                        <a class="btn btn-danger" ng-click="annulerSaisie()"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Liste des fournisseurs</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th colspan="3">
                            <div class="input-group col-md-12">
                                <span class="input-group-addon" id="search">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="Search" aria-describedby="search" ng-model="query">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th> #ID</th>
                        <th> Nom</th>
                        <th> Adresse</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="fournisseur in fournisseurs | filter : query">
                        <td><a class="btn btn-primary" href="{{fournisseur.id}}"><span class="glyphicon glyphicon-pencil"></span> </a><a class="btn btn-danger" ng-click="supprimerFournisseur(fournisseur)"><span class="glyphicon glyphicon-remove"></span> </a> </td>
                        <td>{{fournisseur.nom}}</td>
                        <td>{{fournisseur.adresse}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>