<div class="container" id="fournisseurs">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Ajout d'un fournisseur {{fournisseur.nom}}
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="control-group col-md-6">
                    <label class="control-label" for="nomFrounisseur">Fournisseur</label>
                    <div class="controls">
                        <input type="text" id="nomFrounisseur" placeholder="Nom du fournisseur" class="form-control" ng-model="fournisseur.nom">
                    </div>
                </div>
                <div class="control-group col-md-6">
                    <label class="control-label" for="adresseFrounisseur">Addresse</label>
                    <div class="controls">
                        <input type="text" id="adresseFrounisseur" placeholder="Adresse du fournisseur" class="form-control" ng-model="fournisseur.adresse">
                    </div>
                </div>
                <div class="control-group pull-right">
                    <div class="controls">
                        <a class="btn btn-success" ng-click="ajouterFournisseur()"><span class="glyphicon glyphicon-plus"></span> Valider</a>
                        <a class="btn btn-danger" ng-click="annulerSaisie()"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Liste des fournisseurs</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th colspan="3">
                            <div class="input-group col-md-12">
                                <span class="input-group-addon" id="search">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="Search" aria-describedby="search" ng-model="query">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th> #ID</th>
                        <th> Nom</th>
                        <th> Adresse</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="fournisseur in fournisseurs | filter : query">
                        <td><a class="btn btn-primary" href="{{fournisseur.id}}"><span class="glyphicon glyphicon-pencil"></span> </a><a class="btn btn-danger" ng-click="supprimerFournisseur(fournisseur)"><span class="glyphicon glyphicon-remove"></span> </a> </td>
                        <td>{{fournisseur.nom}}</td>
                        <td>{{fournisseur.adresse}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>