<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Formation Angular</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home">{{translation.ACCUEIL}}</a></li>
                <li ui-sref-active="active"><a ui-sref="fournisseur">{{translation.FOURNISSEURS}}</a></li>
                <li ui-sref-active="active"><a ui-sref="produit">{{translation.PRODUITS}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{translation.LANGUE}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="langue in languages"><a ng-click="setLang(langue)">{{langue}}</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>