<div class="container" id="produits">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Ajout d'un produit
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="control-group col-md-4">
                    <label class="control-label" for="fournisseur_id">Fournisseur</label>
                    <div class="controls">
                        <select class="form-control" id="fournisseur_id">
                            <option>TODO</option>
                            <option>TODO</option>
                            <option>TODO</option>
                            <option>TODO</option>
                        </select>
                    </div>
                </div>
                <div class="control-group col-md-4">
                    <label class="control-label" for="nomProduit">Nom du produit</label>
                    <div class="controls">
                        <input type="text" id="nomProduit" placeholder="Nom du produit" class="form-control">
                    </div>
                </div>
                <div class="control-group col-md-4">
                    <label class="control-label" for="htProduit">Prix HT</label>
                    <div class="controls">
                        <input type="text" id="htProduit" placeholder="Prix Hors taxe" class="form-control">
                    </div>
                </div>
                <div class="control-group col-md-4">
                    <label class="control-label" for="tvaProduit">Taux de TVA</label>
                    <div class="controls">
                        <input type="text" id="tvaProduit" placeholder="Taux de TVA" class="form-control">
                    </div>
                </div>
                <div class="control-group col-md-4">
                    <label class="control-label" for="ttcProduit">Prix TTC</label>
                    <div class="controls">
                        <input type="text" id="ttcProduit" placeholder="Prix TTC du produit" class="form-control">
                    </div>
                </div>
                <div class="control-group col-md-4">
                    <div class="controls">
                        <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Valider</a>
                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Liste des produits</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th> #ID</th>
                        <th> Nom</th>
                        <th> Prix TH</th>
                        <th> TVA</th>
                        <th> Prix TTC</th>
                        <th> Fournisseur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>TODO :: Modifier/Supprimer</td>
                        <td>TODO</td>
                        <td>TODO</td>
                        <td>TODO</td>
                        <td>TODO</td>
                        <td>TODO</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>