<div class="container" id="produits">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Ajout d'un produit
        </div>
        <div class="panel-body">
            <form class="form-inline" name="productForm">
                <div class="control-group col-md-4">
                    <label class="control-label" for="fournisseur_id">Fournisseur</label>
                    <div class="controls" ng-controller="FournisseursCtrl">
                        <select class="form-control" id="fournisseur_id" ng-model="produit.fournisseurs_id" ng-options="fournisseur.id as fournisseur.nom for fournisseur in fournisseurs">
                        </select>
                    </div>
                </div>
                <div class="control-group col-md-4">
                    <label class="control-label" for="nomProduit">Nom du produit</label>
                    <div class="controls">
                        <input type="text" id="nomProduit" placeholder="Nom du produit" class="form-control" ng-model="produit.libelle" required name="libelle">
                    </div>
                    <div class="alert alert-danger" ng-show="!productForm.libelle.$valid && productForm.libelle.$dirty">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Erreur</strong> Le nom du produit est obligatoire.
                    </div>
                </div>
                <div class="control-group col-md-4">
                    <label class="control-label" for="htProduit">Prix HT</label>
                    <div class="controls">
                        <input type="text" id="htProduit" placeholder="Prix Hors taxe" class="form-control" ng-model="produit.prix_ht" name="prixHt" required ng-pattern="/^\d+(\.\d{1,2})?$/">
                    </div>
                    <div class="alert alert-danger" ng-show="productForm.prixHt.$error.pattern">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Erreur</strong> Le prix HT est sous format 99999.99.
                    </div>
                    <div class="alert alert-danger" ng-show="productForm.prixHt.$error.required">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Erreur</strong> Le prix HT est obligatoire
                    </div>
                </div>
                <div class="control-group col-md-4">
                    <label class="control-label" for="tvaProduit">Taux de TVA</label>
                    <div class="controls">
                        <input type="text" id="tvaProduit" placeholder="Taux de TVA" class="form-control" ng-model="produit.tva" required ng-pattern="/^\d{2}?$/" name="tva">
                    </div>
                    <div class="alert alert-danger" ng-show="productForm.tva.$error.pattern">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Erreur</strong> La TVA est sous format [00 - 99].
                    </div>
                    <div class="alert alert-danger" ng-show="productForm.tva.$error.required">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Erreur</strong> La TVA est obligatoire
                    </div>
                </div>
                <div class="control-group col-md-4">
                    <label class="control-label" for="ttcProduit">Prix TTC</label>
                    <div class="controls">
                        <input type="text" id="ttcProduit" placeholder="Prix TTC du produit" class="form-control" ng-value="produit.prix_ttc = produit.prix_ht*(1+(produit.tva/100))" ng-disabled="true">
                    </div>
                </div>
                <div class="control-group col-md-4">
                    <div class="controls">
                        <a class="btn btn-success" ng-click="ajouterProduit()"><span class="glyphicon glyphicon-plus"></span> Valider</a>
                        <a class="btn btn-danger" ng-click="annulerSaisie()"><span class="glyphicon glyphicon-remove"></span> Annuler</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Liste des produits</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="6">
                                <div class="input-group col-md-12">
                                    <span class="input-group-addon" id="search">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search" aria-describedby="search" ng-model="productQuery">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th> #ID</th>
                            <th> Nom</th>
                            <th> Prix TH</th>
                            <th> TVA</th>
                            <th> Prix TTC</th>
                            <th> Fournisseur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="produit in produits | filter : productQuery">
                            <td><a class="btn btn-danger" ng-click="supprimerProduit(produit)"><span class="glyphicon glyphicon-remove"></span> </a></td>
                            <td>{{produit.libelle}}</td>
                            <td>{{produit.prix_ht | euroFormat}}</td>
                            <td>{{produit.tva | percent}}</td>
                            <td>{{produit.prix_ttc | euroFormat}}</td>
                            <td>{{produit.fournisseur.nom}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>